<tr>

<td><%= @bills.date%></td>
<td><%= @bills.description %></td>

<td><%= @bills.item_code %></td>

<td><%= @bills.curr %></td>

<td><%= @bills.amount %></td>

<td><%= @bills.rate %></td>

<td><%= @bills.amount_inr %></td>

</tr>


