<table id="bill_list"  border="1">
  <tr>
    <th>
      Date
    </th>
    <th>
      Item code(Description)
    </th>
    <th>
      Bill date
    </th>
    <th>
      Amount(INR)
    </th>
    <th>
      Edit
    </th>
    <th>
      Delete
    </th>
  </tr>
  <% @bills.each do |bill| %>
    <tr id="eip_<%= bill.id.to_s %>">
      <td>
        <%=h display_date(bill.date) %>
      </td>
      <td>
        <%= bill.description %>
      </td>
      <td>
        <%= bill.bill_date %>
      </td>
      <td>
        <%= bill.amount %>
      </td>

      <td><%= link_to_remote "Edit",
          :update => "eip_" + bill.id.to_s,
          :url => { :action => "edit", :id => bill.id } %></td>
      <td>
        <%= link_to_remote "Delete",
          :url => { :action => "destroy", :id => bill.id }
      %>
      </td>
    </tr>
  <%end%>
</table>