<h1>Welcome! <%= @user_name %> </h1>
<h3> <%= @temp %> </h3>
<table id="bill_list"  border="1">
  <tr>
    <th>Month-Year</th>
    <th>Expense claimed</th>
    <th>View in detail</th>
  </tr>
  <% @bills.each do |bill| %>
    <tr>
      <td>
        <%= bill.month_year %>
      </td>
      <td>
        <%= bill.amount %>
      </td>
      <td><%= link_to 'View More', :action=> "view", :month_year => bill.month_year %></td>
    </tr>
  <% end %>
</table>
